.heading{
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.title{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price{
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}

p {
  font-family: helvetica;
}

.green{
  background-color: mediumspringgreen;
}

.red{
  background-color: lightcoral;
}

.blue{
  background-color: skyblue;
}
